
{% extends 'genericviews/base.html' %}


{% block title %}
	Detail Page
{% endblock %}

{% block content %}
	{% block breadcrumbs %}
		<ol class="breadcrumb">
			{% if not request.user.is_authenticated %}
				<li class="breadcrumb-item"><a href="{% url 'base' %}">Home</a></li>
			{% else %}
				<li class="breadcrumb-item"><a href="{% url 'genericviews:index' %}">Home</a></li>
			{% endif %}
			<li class="breadcrumb-item active">Product Detail</li>
		</ol>
	{% endblock %}

	<div class="container-fluid">
		{% if messages %}
			<div class="alert alert-success" role="alert">
				<ul class="messages">
					{% for message in messages %}
						<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
							<strong>{{ message }}</strong>
						</li>
					{% endfor %}
				</ul>
			</div>
		{% endif%}

		<div class="row">
			<div class="col-md-9">
				<h2><center>{{ product.title }}</center></h2> <br>

				{% if product.image %}
					<img src="{{ product.image.url }}" alt="..." class="img-fluid">
				{% else %}
					<center>Image not found!</center>
				{% endif %}

				<p class="lead">{{ product.desc }}</p>

				<br><p>Posted by: {{ product.user }}</p>
			</div>

			<div class="col-md-3">
				<h2 style="margin-top: 5px;"><center>Similar Products</center></h2> <br>

				<div class="list-group">
					{% for items in new_list %}
						<a href="{% url 'genericviews:detail' items.id %}" class="list-group-item list-group-item-action" style="background-color: black; color: white;">
							{{ items.title }}
						</a>
					{% endfor %}
				</div>
			</div>
		</div>
		
		<br>
		<a href="{% url 'genericviews:index' %}" class="btn btn-primary">Back to watch listings!</a>
	</div>
{% endblock %}