
{% extends 'genericviews/base.html' %}


{% block title %}
	Detail Page
{% endblock %}

{% block content %}
	{% block breadcrumbs %}
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'base' %}">Home</a></li>
			<li class="breadcrumb-item active">Product Detail</li>
		</ol>
	{% endblock %}

	<div class="container">
		{% if messages %}
			<div class="alert alert-success" role="alert">
				<ul class="messages">
					{% for message in messages %}
						<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
							<strong>{{ message }}</strong>
						</li>
					{% endfor %}
				</ul>
			</div>
		{% endif%}
	
		<h1 align="center">{{ product.title }}</h1>
		<h3 align="center">{{ product.desc }}</h1>

		<h1 align="center">Similar Watches!</h1>

		<table class="table table-sm">			
			<tr>
				<th>Record ID</th>
				<th>Titles</th>
			</tr>
			{% for items in new_list %}
				<tr style="height: 20px;">
					<td>{{ items.id }}</td>
					<td><a href = "{% url 'genericviews:detail' items.id %}">{{ items.title }}</a></td>
				</tr>
			{% endfor %}
		</table>

		<a href="{% url 'genericviews:index' %}">Back to watch listings!</a>
	</div>
{% endblock %}