
{% extends 'genericviews/base.html' %}


{% block title %}
	Detail Page
{% endblock %}

{% block content %}
	<h1 align="center">{{ product.title }}</h1>
	<h3 align="center">{{ product.desc }}</h1>

	<hr>
	<div class="container">
		<h1 align="center">Similar Watches!</h1>

		<table class="table table-sm">			
			<tr>
				<th>#</th>
				<th>Titles</th>
			</tr>
			{% for items in new_list %}
				<tr style="height: 20px;">
					<td>{{ items.id }}</td>
					<td><a href = "{% url 'genericviews:detail' items.id %}">{{ items.title }}</a></td>
				</tr>
			{% endfor %}
		</table>

		<a href="{% url 'genericviews:index' %}">Back to watch listings!</a>
	</div>
{% endblock %}
