
{% extends 'genericviews/base.html' %}


{% block title %}
	Index
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-6 col-sm-3">
				<form class="form-inline" action="{% url 'genericviews:index' %}" method="get">
					<div class="form-group">
						<select class="form-control" name="paginate_by" id='paginate_options'>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
						</select>
					</div>
					<div class="form-group">
						<input class="form-control" type='submit' value='Choose num of items'>
					</div>
				</form>
			</div>
			{% if product_list %}
				{% if is_paginated %}
					<div class="col-6 col-sm-3">
						{% if page_obj.has_previous %}
								<a href="?page={{ page_obj.previous_page_number }}">previous</a>
						{% endif %}
					</div>
					<div class="col-6 col-sm-3">
						<span>
							Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
						</span>
					</div>
					<div class="col-6 col-sm-3">
						{% if page_obj.has_next %}
							<a href="?page={{ page_obj.next_page_number }}">next</a>
						{% endif %}
					</div>
				{% endif %}
		</div>

		<div class="row">
			<div class="col"></div>
			<div class="col-6">
					<h1>Buy Wrist Watches!</h1>
			</div>
			<div class="col"></div>					
		</div>

		<div class="row">
			<table class="table table-sm">			
				<tr>
					<th>#</th>
					<th>Titles</th>
				</tr>
				{% for product in product_list %}
					<tr style="height: 20px;">
						<td>{{ product.id }}</td>
						<td><a href = "{% url 'genericviews:detail' product.id %}">{{ product.title }}</a></td>
					</tr>
				{% endfor %}
			</table>
		{% else %}
			<h3>No product found</h3>
		{% endif %}
		</div>
	</div>		
{% endblock %}

{% block javascript %}
	<script type="text/javascript">
		document.getElementById('paginate_options').value = {{ page_obj.paginator.per_page }};
	</script>
{% endblock %}