
{% extends 'genericviews/base.html' %}


{% block title %}
	Index
{% endblock %}

{% block content %}
	<div class="container">
		{% if messages %}
			<div class="alert alert-success" role="alert">
				<ul class="messages">
					{% for message in messages %}
						{% if message.tags == 'success' %}
							<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
								<strong>Well done!</strong> You successfully added a watch!
							</li>
						{% elif message.tags == 'info' %}
							<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
								<strong>Well done!</strong> You successfully deleted a watch!
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		{% endif %}

		{% block breadcrumbs %}
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">Home</a></li>
				<li class="breadcrumb-item active">Product Listing</li>
			</ol>
		{% endblock %}

		<div class="row">
			<div class="col-6 col-sm-3">
				<form class="form-inline" action="{% url 'genericviews:index' %}" method="get">
					<div class="form-group">
						<select class="form-control" name="paginate_by" id='paginate_options'>
							<option value="5">5</option>
							<option value="10">10</option>
							<option value="15">15</option>
							<option value="20">20</option>
						</select>
					</div>
					<div class="form-group">
						<input class="form-control" type='submit' value='Choose!' style="width:90px;">
					</div>
				</form>
			</div>
			{% if product_list %}
				{% if is_paginated %}
					<nav aria-label="Page navigation example">
						<ul class="pagination justify-content-center">
							{% if page_obj.has_previous %}
								<li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
							{% else %}
								<li class="disabled"><span>Previos</span></li>
							{% endif %}

							{% for i in page_obj.paginator.page_range %}
								{% if page_obj.number == i %}
									<li class="active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
								{% else %}
									<li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
								{% endif %}
							{% endfor %}

							{% if page_obj.has_next %}
								<li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
							{% else %}
								<li class="disabled"><span>Next</span></li>
							{% endif %}
						</ul>
					</nav>
				{% endif %}
		</div>

		<div class="row">
			<div class="col"></div>
			<div class="col-6">
					<h1>Buy Wrist Watches!</h1>
			</div>
			<div class="col"></div>					
		</div>

		<div class="row">
			<table class="table table-sm">			
				<tr>
					<th>Record ID</th>
					<th>Titles</th>
					<th>Actions</th>
				</tr>
				{% for product in product_list %}
					<tr style="height: 20px;">
						<td>{{ product.id }}</td>
						<td><a href = "{% url 'genericviews:detail' product.id %}">{{ product.title }}</a></td>
						<td>
							<a href="{% url 'genericviews:edit' product.id %}">Edit</a> | 
							<a href="{% url 'genericviews:delete' product.id %}">Delete</a>
						</td>
					</tr>
				{% endfor %}
			</table>
		{% else %}
			<h3>No product found</h3>
		{% endif %}
		</div>
	</div>		
{% endblock %}

{% block javascript %}
	<script type="text/javascript">
		$(function () {
			$('#paginate_options').val({{ page_obj.paginator.per_page }});
		});
	</script>
{% endblock %}