
{% extends 'genericviews/base.html' %}

{% block title %}
	Product Entry
{% endblock %}
	
{% block content %}
	{% block breadcrumbs %}
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">Home</a></li>
			<li class="breadcrumb-item active">Create New Product</li>
		</ol>
	{% endblock %}

	<div class="container">
		<form class="form-inline" action = "{% url 'genericviews:makeentry' %}" method = 'POST'>
			<div class="form-group">
				{% csrf_token %}
				{{ form }}
				<input type = 'submit' value = 'submit'>
			</div>
		</form>
	</div>
{% endblock %}