
{% extends 'genericviews/base.html' %}

{% block title %}
	Product Entry
{% endblock %}
	
{% block content %}
	{% block breadcrumbs %}
		<ol class="breadcrumb">
            {% if not request.user.is_authenticated %}
				<li class="breadcrumb-item"><a href="{% url 'base' %}">Home</a></li>
			{% else %}
				<li class="breadcrumb-item"><a href="{% url 'genericviews:index' %}">Home</a></li>
			{% endif %}
			<li class="breadcrumb-item active">Create New Product</li>
		</ol>
	{% endblock %}

	<div class="row">
		<div class="Absolute-Center is-Responsive">
			<div id="logo-container">Create New Product</div>
                <div class="col-sm-12 col-md-10 col-md-offset-1">
                    <form action="{% url 'genericviews:makeentry' %}" method="POST" enctype="multipart/form-data">
						{% csrf_token %}
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-header" aria-hidden="true"></i></span>
                            {{ form.title }}         
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
                            {{ form.desc }}
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-upload" aria-hidden="true"></i></span>
                            {{ form.image }}
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="submit" value="Create"></input>
                        </div>
                    </form>        
                </div>  
            </div>    
        </div>
    </div>
{% endblock %}