
{% extends 'genericviews/base.html' %}

{% block title %}
	Product Update
{% endblock %}
	
{% block content %}
	{% block breadcrumbs %}
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'base' %}">Home</a></li>
			<li class="breadcrumb-item active">Update Product</li>
		</ol>
	{% endblock %}

	<div class="container">
		<form class="form-inline" action = "" method = 'POST'>
			<div class="form-group">
				{% csrf_token %}
				{{ form.as_p }}
				<input type = 'submit' value = 'Update'>
			</div>
		</form>
	</div>
{% endblock %}