
{% extends 'genericviews/base.html' %}

{% block title %}
	Product Delete
{% endblock %}
	
{% block content %}
	{% block breadcrumbs %}
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">Home</a></li>
			<li class="breadcrumb-item active">Delete Product</li>
		</ol>
	{% endblock %}

	<div class="container">
		<form class="form-inline" action = "" method = 'POST'>
			<div class="form-group">
				{% csrf_token %}
				<p>Are you sure you want to delete "{{ object }}"?</p>
                <input type="submit" value="Confirm" />
			</div>
		</form>
	</div>
{% endblock %}